.contactSection {
    /* global section */
    text-align: center;
    padding: 50px;
    color: #2C3E50;
}

.contactForm input,
textarea {
    /* inputs */
    text-align: left;
    border: none;
    padding: 20px;
    width: 450px;
}

.contactForm .sendButton {
    /* button */
    border: none;
    border-radius: 5px;
    background-color: #2C3E50;
    color: white;
    padding: 10px 15px;
}

.sendButtonDiv {
    width: 450px;
    margin: 15px auto;
    text-align: left;
    padding: 0 20px;
}

.sendButton:hover {
    opacity: 0.5;
}