.curriculumSection {
    /* global section */
    width: 100%;
    height: auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #2C3E50;
}

.starWhiteBg {
    width: 200px;
}

.photoGrid {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: auto;
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.photoGrid>img {
    height: 100px;
    margin: 5px;
    border-radius: 5%;
}

.photoGrid>img:hover {
    opacity: 0.5;
}