.informationSection {
    /* global section */
    background-color: #2C3E50;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px 10%;
    align-items: baseline;
    text-align: center;
}

.informationSection div {
    display: inline-block;
    vertical-align: middle;
    width: 300px;
}

.informationSection h4 {
    font-size: small;
    font-weight: normal;
}

.informationSection h3 {
    font-size: medium;
}

.socialColumn {
    /* Social media column */
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialColumn img {
    /* Social media icons */
    width: 24px;
    display: inline-block;
}

.extraContent {
    /* "About the theme" column */
    text-align: center;
}

.extraInfoSection {
    /* Copyright bar row */
    background-color: #1A252F;
    color: white;
    text-align: center;
    padding: 10px;
}